[user]
	name = ArcaneCrowA
	email = arcanecrowa@icloud.com
[log]
	date = short
[init]
	defaultBranch = main
[alias]
    lg = log --graph --pretty=format:'%C(auto)%h %C(green)%ad%Creset | %C(auto)%s%d %C(blue)[%an]%Creset' --date=short --first-parent -10
